<%- include('layouts/header') %>
<%- include('layouts/navbar') %>

<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Welcome!</div>
        <div class="masthead-heading text-uppercase">Du lịch Việt Nam</div>
    </div>
</header>

<!-- Services-->
<section class="page-section" id="services">
    <div class="container text-center">
        <h2>Dịch vụ</h2>
        <p>Tour du lịch chất lượng cao</p>
    </div>
</section>

<!-- Portfolio-->
<section class="page-section bg-light">
    <div class="container">
        <h2 class="text-center">Điểm đến nổi bật</h2>
    </div>
</section>

<%- include('layouts/footer') %>