<%- include('layouts/header') %>
<%- include('layouts/navbar') %>

<div class="container text-center py-5">
    <div class="p-5 mb-4 bg-white rounded-3 shadow">
        <h1 class="display-5 fw-bold text-success">Chào mừng bạn đến với Viet Travel!</h1>
        <p class="col-md-8 fs-4 mx-auto mt-4">Khám phá những vùng đất mới, trải nghiệm văn hóa đa dạng cùng dịch vụ chuyên nghiệp hàng đầu.</p>
        <hr class="my-4">
        <a href="/list" class="btn btn-success btn-lg">Xem các tour hấp dẫn</a>
    </div>
</div>

<%- include('layouts/footer') %>